<!doctype html>
<html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('root.static', filename='style.css')}}"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Определение модели по фото</title>
</head>
<body>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
    <h1>Определение модели авто</h1>

    {% if args["method"] == "POST" %}
        {% if args["file_size_error"] %}
            <h1>Размер файла превышает args["max_file_size"]MB!</h1>
        {% endif %}
    {% endif %}
    {% if filename %}
        <div>
            <img src="{{ url_for('root.display_image', filename=filename) }}">
        </div>
        <div class="predict">Похоже, что на фото <span class="label">{{ label }}</span></div>
    {% endif %}
    <h2>Загрузите фото</h2>
    <div>Одной из следующих моделей:</div>
    <ul>
        <ol>Приора</ol>
        <ol>Ford Focus</ol>
        <ol>Самара</ol>
        <ol>ВАЗ-2110</ol>
        <ol>Жигули</ol>
        <ol>Нива</ol>
        <ol>Калина</ol>
        <ol>ВАЗ-2109</ol>
        <ol>Volkswagen Passat</ol>
        <ol>ВАЗ-21099</ol>
    </ul>
    <form method="POST" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" autocomplete="off" accept=".png, .jpg, .jpeg, .gif" required>
            </p>
        </dl>
        <div class="submit">
            <input type="submit" value="Определить модель по фото">
        </div>
    </form>
</body>
</html>
